<% content_for :meta_title, @artist.name %>
<% content_for :meta_description, @artist.description %>

<div class="wrapper-showArtist">

   <div class="showArtist-container_img">
      <%= image_tag @artist.image %>
   </div>

   <div class="showArtist-container_txt">

      <h1 class="name"><%= @artist.name %></h1>

      <h2 class="baseline"><%= @artist.baseline %></h2>

      <!-- Description -->
      <div class="desc">
         <%= markdown(@artist.description) %>
      </div>

      <!-- Social links -->
      <div class="socialContainer-iframe">
         <% if @artist.socials.where(:label => 'youtube').length > 0 %>
               <iframe height="125" src="<%= @artist.socials.where(:label => 'youtube')[0].link %>" frameborder="0" allowfullscreen></iframe>
         <% else @artist.socials.where(:label => 'soundcloud').length > 0 %>
               <iframe height="125" src="<%= @artist.socials.where(:label => 'soundcloud')[0].link %>" frameborder="0" allowfullscreen></iframe>
         <% end %>
      </div>

      <div class="socialContainer-links">
         <% @artist.socials.each do |social| %>
            <% if social.label != 'youtube' && social.label != 'soundcloud' && social.label != 'tickets' %>
               <%= link_to social.link do %>
                  <%= socialImageFromLabel(social.label) %>
               <% end %>
            <% end %>
         <% end %>
      </div>

      <%= link_to 'â† Retour aux artistes',  artists_path, :class => 'borderBlack' %>


   </div>

</div>
