<% content_for :meta_title, @artist.name %>
<% content_for :meta_description, @artist.description %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Baseline:</strong>
  <%= @artist.baseline %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artist.description %>
</p>

<p>
  <strong>Socials:</strong><br>
  <% @artist.socials.each do |social| %>
    <%= link_to social.link do %>
      <%= social.label %>
    <% end %><br>
  <% end %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @artist.image  %>
</p>

<%= link_to 'Back', artists_path %>
