<% content_for :meta_title, @artist.name %>
<% content_for :meta_description, @artist.description %>

<div class="wrapper-showArtist">

   <div class="showArtist-container_img reveal">
      <%= image_tag @artist.image %>
   </div>

   <div class="showArtist-container_txt reveal">

      <h1 class="name"><%= @artist.name %></h1>

      <h2 class="baseline"><%= @artist.baseline %></h2>

      <!-- Description -->
      <div class="desc">
         <%= markdown(@artist.description) %>
      </div>

      <!-- Social links -->
      <div class="socialContainer">
         <% @artist.socials.each do |social| %>
           <%= link_to social.link do %>
             <%= social.label %>
           <% end %>
         <% end %>
      </div>

      <%= link_to 'â† Retour aux artistes',  artists_path, :class => 'blackBtn' %>


   </div>

</div>
