<% content_for :meta_title, "L'équipe de Sounds In Bordeaux" %>
<% content_for :meta_description, "Vous voulez en savoir plus ? Retrouvez les membres de l'équipes de Sounds In Bordeaux !" %>

<p id="notice"><%= notice %></p>


<h1>À propos</h1>



    <% @about_us.each do |about_u| %>
      <tr>
        <td><%= about_u.name %></td>
        <td><%= about_u.role %></td>
        <td><%= about_u.description %></td>


        <td><%= link_to 'Show', about_u_url(about_u.slug) %></td>
     </tr>
    <% end %>
