<% content_for :meta_title, "#{@about_u.name}, #{@about_u.role} de Sounds In Bordeaux" %>
<% content_for :meta_description, @about_u.description %>

<section class="pageWrapper-aboutUs">

   <article class="aboutUs-container">

      <div class="aboutUs-container_infos">
         <h1 class="name"><%= @about_u.name %></h1>
         <h2 class="role"><%= @about_u.role %></h2>

         <%= markdown(@about_u.description) %>


      </div>

      <div class="aboutUs-container_img">
         <%= image_tag @about_u.image %>
      </div>

      <div class="aboutUs-container_social">
         <% @about_u.socials.each do |social| %>
           <%= link_to social.link do %>
             <%= social.label %>
           <% end %><br>
         <% end %>
      </div>
      
   </article>


   <%= link_to 'Retour', about_us_path, :class => 'borderBlack' %>
</section>
