<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @about_u.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @about_u.role %>
</p>

<p>
  <strong>Description:</strong>
  <%= @about_u.description %>
</p>

<% @about_u.socials.each do |social| %>
  <%= link_to social.link do %>
    <%= social.label %>
  <% end %><br>
<% end %>

<%= link_to 'Back', about_us_path %>
