<% content_for :meta_title, "#{@about_u.name}, #{@about_u.role} de Sounds In Bordeaux" %>
<% content_for :meta_description, @about_u.description %>

<section class="pageWrapper-aboutUs">

   <article class="aboutUs-container">

      <div class="aboutUs-container_infos">
         <h1 class="name"><%= @about_u.name %></h1>
         <h2 class="role"><%= @about_u.role %></h2>

         <%= markdown(@about_u.description) %>

         <div class="aboutUs-container_social">
            <% @about_u.socials.each do |social| %>
               <% if social.label != 'youtube' && social.label != 'soundcloud' && social.label != 'tickets' %>
                  <%= link_to social.link do %>
                     <%= socialImageFromLabel(social.label) %>
                  <% end %>
               <% end %>
            <% end %>
         </div>
      </div>

      <div class="aboutUs-container_img">
         <%= image_tag @about_u.image %>
      </div>



   </article>


   <%= link_to 'Retour', about_us_path, :class => 'borderBlack' %>
</section>
