<% content_for :meta_title, "Liste des évenements" %>
<% content_for :meta_description, "Retrouvez la liste des meilleurs sorties sur Bordeaux, sélectionnées par l'équipe de Sounds In Bordeaux !" %>

<h1>événements</h1>
<p></p>

<%= form_tag event_filter_url do %>
   <%= select_tag(:price, options_for_select(filter_array['price'], params[:price] ||= 'all')) %>
   <%= select_tag(:location, options_for_select(filter_array['location'], params[:location] ||= 'all')) %>
   <%= select_tag(:date, options_for_select(filter_array['date'], params[:date] ||= 'all')) %>
   <%= submit_tag 'Recherche' %>
<% end %>

<div class="container-events">

   <% if @events.count <= 0 %>
     Aucun résultat
   <% else %>

   <% @events.each do |event| %>
    <% event.best %>

    <%= link_to event_url(event.slug) do %>
         <div class="events-cards">
           <h2><%= event.name %></h2>
           <%= image_tag event.image %>
         </div>
    <% end %>
   <% end %>
<% end %>


</div>
