<% content_for :meta_title, "Liste des évenements" %>
<% content_for :meta_description, "Retrouvez la liste des meilleurs sorties sur Bordeaux, sélectionnées par l'équipe de Sounds In Bordeaux !" %>

<div class="wrapper-indexEvents">

   <h1 class="page-title">événements</h1>
   <p class="page-description">Tu cherches où sortir à Bordeaux ? Ne te prends plus la tête ! Chaque semaine, l’équipe te concocte une séléction des meilleures sorties à Bordeaux. Tu trouveras ici tous genres d’événements, clubs, afterworks, festival, open air ou même concert.</p>

   <!-- Search filters -->
   <p class="blueBtn" id="btnFilter">Filtrer</p>
   <div class="container-filters" id="container-filters">

      <%= form_tag event_filter_url, :class => 'selectEvent-container' do %>

         <div class="selectEvent selectEvent-price">
            <%= label_tag 'Prix' %>
            <%= select_tag(:price, options_for_select(filter_array['price'], params[:price] ||= 'all'), {:class => 'selectEvent'}) %>
         </div>
         <div class="selectEvent selectEvent-place">
            <%= label_tag 'Lieu' %>
            <%= select_tag(:location, options_for_select(filter_array['location'], params[:location] ||= 'all'), {:class => 'selectEvent'}) %>
         </div>
         <div class="selectEvent selectEvent-type">
            <%= label_tag 'Genre musical' %>
            <%= select_tag(:musicType, options_for_select(filter_array['musicType'], params[:musicType] ||= 'all'), {:class => 'selectEvent'}) %>
         </div>
         <div class="selectEvent selectEvent-date">
            <%= label_tag 'Date' %>
            <%= select_tag(:date, options_for_select(filter_array['date'], params[:date] ||= 'all'), {:class => 'selectEvent'}) %>
         </div>

         <%= submit_tag 'OK', :class => 'filterBtn-search' %>
      <% end %>
   </div>

   <!-- Events -->
   <div class="container-events" id="container-events">

      <!-- If there is no results or events -->
      <% if @events.count <= 0 %>
        <p class="noResults">Aucun résultat 😕</p>
      <% else %>

      <!-- Events' mosaic -->
      <% @events.each do |event| %>

       <% event.best %>
       <%= link_to event_url(event.slug), :class => 'linkEvent' do %>
            <div class="events-cards reveal">

               <div class="events-cards_img">
                  <%= image_tag event.image %>
               </div>

              <div class="events-cards_infos">
                 <div class="events-cards_infos-top">
                    <h2 class="name"><%= event.name %></h2>

                    <p class="date">le <%= event.date.strftime "%d.%m.%y."%></p>
                 </div>
                 <div class="events-cards_infos-bottom">
                    <p class="time"> à <%= event.date.strftime "%Hh%M" %></p>
                    <p class="place">
                       <% begin %>
                          @<%= event.socials.where(label: "map")[0].link %>
                       <% rescue %>
                       Lieu secret
                       <% end %>
                    </p>
                 </div>
              </div>

            </div>
       <% end %>
      <% end %>

   <% end %>


   </div>

</div>
