<% content_for :meta_title, @event.name %>
<% content_for :meta_description, strip_tags(markdown(@event.description)).gsub!("\n", ' ') %>


<div class="wrapper-showEvent">

   <div class="showEvent-container_img reveal">
      <%= image_tag @event.image %>
   </div>

   <div class="showEvent-container_txt reveal">

      <h1 class="name"><%= @event.name %></h1>

      <div class="mainInfos">
         <p class="date">le <strong><%= @event.date.strftime "%d.%m.%y."%></strong> <br>à <strong><%= @event.date.strftime "%Hh%M" %></strong></p>
         <p class="location">@<strong>IBOAT</strong></p>
         <p class="price">à partir de <strong><%= @event.price %> €</strong></p>
      </div>

      <!-- Description -->
      <div class="desc">
         <%= markdown(@event.description) %>
      </div>

      <!-- Google map -->
      <% unless @event.location.nil? %>

      <% end %>

      <!-- Social links -->
      <div class="socialContainer">
         <% @event.socials.each do |social| %>
           <%= link_to social.link do %>
             <%= social.label %>
           <% end %>
         <% end %>
      </div>

      <%= link_to '← Retour aux événements', events_path, :class => 'blackBtn' %>


   </div>

</div>
