<% content_for :meta_title, @event.name %>
<% content_for :meta_description, strip_tags(markdown(@event.description)).gsub!("\n", ' ') %>

<div class="wrapper-showEvent">

   <div class="showEvent-container_img ">
      <%= image_tag @event.image %>
   </div>

   <div class="showEvent-container_txt">

      <h1 class="name"><%= @event.name %></h1>

      <div class="mainInfos">
         <p class="date">le <%= @event.date.strftime "%d.%m.%y."%> <br>à <%= @event.date.strftime "%Hh%M" %></p>
         <p class="location"> <%= @event.location.name %> </p>
         <p class="price">
            <%= link_to @event.socials.where(label: 'tickets')[0].link do %>
               à partir de <%= number_to_currency(@event.price, unit: "") %>€
            <% end %>
         </p>
      </div>

      <!-- Description -->
      <div class="desc">
         <%= markdown(@event.description) %>
      </div>

      <!-- Google map -->
      <% unless @event.location.nil? %>

      <% end %>

      <!-- Social -->

      <div class="socialContainer-iframe">
         <% if @event.socials.where(:label => 'soundcloud').length > 0 %>
               <iframe height="150" src="<%= @event.socials.where(:label => 'soundcloud')[0].link %>" frameborder="0" allowfullscreen></iframe>
         <% else @event.socials.where(:label => 'youtube').length > 0 %>
               <iframe height="150" src="<%= @event.socials.where(:label => 'youtube')[0].link %>" frameborder="0" allowfullscreen></iframe>
         <% end %>
      </div>

      <div class="socialContainer-links">
         <% @event.socials.each do |social| %>
            <% if social.label != 'youtube' && social.label != 'soundcloud' && social.label != 'tickets' %>
               <%= link_to social.link do %>
                  <%= socialImageFromLabel(social.label) %>
               <% end %>
            <% end %>
         <% end %>
      </div>

      <%= link_to '← Retour aux événements', events_path, :class => 'borderBlack' %>

   </div>

</div>
