<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<% @event.socials.each do |social| %>
  <%= link_to social.link do %>
    <%= social.label %>
  <% end %><br>
<% end %>

<%= link_to 'Back', events_path %>
