<% content_for :meta_title, @event.name %>
<% content_for :meta_description, strip_tags(markdown(@event.description)).gsub!("\n", ' ') %>


<div class="wrapper-showEvent">


      <h1><%= @event.name %></h1>

      <p class="date">le <%= @event.date.strftime "%d %b" %> à <%= @event.date.strftime "%Hh%M" %></p>
      <p class="price"><%= @event.price %> €</p>

      <!-- Description -->
      <%= markdown(@event.description) %>

      <%= image_tag @event.image %>

      <!-- Google map -->
      <% unless @event.location.nil? %>

      <% end %>

      <!-- Social links -->
      <% @event.socials.each do |social| %>
        <%= link_to social.link do %>
          <%= social.label %>
        <% end %>
      <% end %>

   <%= link_to 'Back', events_path %>
</div>
