<section class="landingSect-container">

   <!-- Title -->
   <div class="landingSect-txt">
      <h2 class="title">Les <strong>événements</strong> de la semaine </h2>
   </div>

   <!-- Slider -->
   <div class="landingSect-slider" data-slider-home>

      <% @events.first(5).each do |event| %>

         <div class="landingSect-slider_item">
            <%= link_to event_url(event.slug) do %>
            <div class="events-cards_img">
               <%= image_tag event.image %>
            </div>

            <div class="events-cards_infos">

               <span class="events-cards_infos-top">
                  <h2 class="name"><%= event.name %></h2>
                  <p class="date">le <%= event.date.strftime "%d %b" %></p>
               </span>
               <span class="events-cards_infos-bottom">
                  <p class="time"> à <%= event.date.strftime "%Hh%M" %></p>
                  <p class="place">
                     <% begin %>
                        @<%= event.socials.where(label: "map")[0].link %>
                     <% rescue %>
                      Lieu secret
                     <% end %>
                  </p>
               </span>

            </div>
            <% end %>
         </div>

      <% end %>

   </div>

</section>
