<% content_for :meta_title, "Sounds in Bordeaux, sélection des meilleurs soirée électro de Bordeaux." %>
<% content_for :meta_description, "Sounds in Bordeaux, c'est ton agenda de tous les événements électro à Bordeaux !" %>

<div class="pageWrapper">

   <%= render partial: 'application/partials/home/botw' %>

   <section class="baselineBand">
      <h2 class="baselineBand-txt reveal">
        Parcours la sélection de soirées, afterworks, concerts et festivals dans <strong>Bordeaux</strong> et ses alentours.
      </h2>
   </section>

   <%= render partial: 'application/partials/home/sectSlider' %>

   <%= render partial: 'application/partials/home/sectEvent' %>

   <%= render partial: 'application/partials/home/sectArtist' %>

   <%= render partial: 'application/partials/newsletter-sub' %>

</div>
