<footer>

   <div class="footer-links">
      <%= link_to "À propos", '/a-propos'%>
      <%= link_to "Contact", '/contact'%>
      <%= link_to "Mentions légales", '/metions-legales' %>
      <div class="footer-social">
         <a href="https://www.facebook.com/SoundsInBordeaux/?fref=ts"><%= image_tag 'fb.svg' %></a>
         <a href="https://twitter.com/SoundsBordeaux"><%= image_tag 'twitter.svg' %></a>
         <a href="https://www.instagram.com/soundsinbordeaux/"><%= image_tag 'instagram.svg' %></a>
      </div>
   </div>



   <div class="footer-newsletter">
      <h4>Newsletter</h4>
      <p>Abonne toi à notre newsletter pour être aux courant des derniers soirées et sorties à Bordeaux, nos nouveautés et gagner des places pour des événements !</p>
      <input type="text" name="newsletterSub" placeholder="ton adresse mail">
      <input type="submit" name="" value="ok">
   </div>

</footer>
