<header>

   <div class="menu-btn" id="menu-btn">
      <span></span>
   </div>

   <%= link_to root_path do %>
      <h2 class="header-title">sounds in bordeaux</h2>
   <% end %>

   <nav class="menu" id="menu">
      <ul class="menu-main">
         <li class="menu-main_item"><%= link_to "cette semaine", '/best'%></li>
         <li class="menu-main_item"><%= link_to "événements", '/evenements'%></li>
         <li class="menu-main_item"><%= link_to "artistes", '/artistes'%></li>
         <li class="menu-main_item"><%= link_to "à propos", '/a-propos'%></li>
      </ul>

      <ul class="menu-sublinks">
         <li class="menu-sublinks_item"><%= link_to "contact", '/contact'%></li>

         <li class="menu-sublinks_item"><%= link_to "archives", '/evenements/archives'%></li>
      </ul>

      <ul class="menu-social">
         <li class="menu-social_item"><a href="https://www.facebook.com/SoundsInBordeaux/?fref=ts">
            <%= image_tag 'fb-black.png' %>
         </a></li>
         <li class="menu-social_item"><a href="https://twitter.com/SoundsBordeaux">
            <%= image_tag 'twitter-black.png' %>
         </a></li>
         <li class="menu-social_item"><a href="https://www.instagram.com/soundsinbordeaux/">
            <%= image_tag 'instagram-black.png' %>
         </a></li>
      </ul>
   </nav>

</header>
