<%= form_with(model: social, local: true) do |form| %>
  <% if social.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(social.errors.count, "error") %> prohibited this social from being saved:</h2>

      <ul>
      <% social.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label, id: :social_label %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :social_link %>
  </div>

  <div class="field">
    <%= form.label :about_u_id %>
    <%= form.text_field :about_u_id, id: :social_about_u_id %>
  </div>

  <div class="field">
    <%= form.label :artist_id %>
    <%= form.text_field :artist_id, id: :social_artist_id %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.text_field :event_id, id: :social_event_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
