<p id="notice"><%= notice %></p>

<h1>Socials</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Link</th>
      <th>About u</th>
      <th>Artist</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @socials.each do |social| %>
      <tr>
        <td><%= social.label %></td>
        <td><%= social.link %></td>
        <td><%= social.about_u %></td>
        <td><%= social.artist %></td>
        <td><%= social.event %></td>
        <td><%= link_to 'Show', social %></td>
        <td><%= link_to 'Edit', edit_social_path(social) %></td>
        <td><%= link_to 'Destroy', social, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Social', new_social_path %>
