<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @social.label %>
</p>

<p>
  <strong>Link:</strong>
  <%= @social.link %>
</p>

<p>
  <strong>About u:</strong>
  <%= @social.about_u %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @social.artist %>
</p>

<p>
  <strong>Event:</strong>
  <%= @social.event %>
</p>

<%= link_to 'Edit', edit_social_path(@social) %> |
<%= link_to 'Back', socials_path %>
